<template>
  <button v-once class="nam-button" v-on:click="onClick">
    <span v-once>{{ text }}</span>
  </button>
</template>

<script>
export default {
  name: 'nam-button',
  props: {
    text: {
      type: String,
      require: true,
    },
    onClick: {
      type: Function,
      require: true,
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nam-button {
    background-color: red;
}
</style>
